{% load static %}
<html lang="zh-CN">
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{%static "favicon.ico" %}" />
    <title>数据食堂</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <link rel="stylesheet" href="{% static "css/main.less" %}">
    <script src="{% static "js/common.js" %}"></script>
    <script src="{% static "js/store.js" %}"></script>
    <script src="{% static "js/request.js" %}"></script>
    <script src="{% static "js/pager.js" %}"></script>
    <script src="{% static "js/project.js" %}"></script>
    <script src="{% static "js/crazyFetch.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</head>
<body>
    <div id="spline-container" class="container"></div>
    <div id="bar-container" class="container"></div>
    <div id="mask-container" class="container focus">
        <div>正在加载 <span id="progress">0%</span> ...</div>
    </div>
</body>
<script>
    let pid = window.location.pathname.substr(6, 4);
    let mainComponent = new MainComponent({
        splineContainerId: 'spline-container',
        barContainerId: 'bar-container',
        projectId: pid,
        maskContainerId: 'mask-container',
        progressId: 'progress',
    });
</script>
</html>
